body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0f30;
    color: white;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  hr {
    border: 0.5px solid white;
    margin: 20px 0;
  }
  
  .storage {
    margin-bottom: 40px;
  }
  
  .storage h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 60%;
    margin-right: 10px;
    background: linear-gradient(to right, #000, #3a3aee);
    color: white;
  }
  
  input:disabled {
    background: #4c4c6d;
    cursor: not-allowed;
  }
  .remove{
    background-color: #f44336;
    color: white;
  }
  button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .add-button {
    background-color: #0e2afb;
    color: white;
    margin-top: 10px;
    box-shadow: 0 0 10px 8px rgb(9, 18, 70);
  }
  
  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    animation: slide-in 0.4s ease-out, fade-out 0.4s ease-in 2.6s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

.clock {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border:1px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .notification.success {
    background-color: #4caf50;
    color: white;
  }
  
  .notification.error {
    background-color: #f44336;
    color: white;
  }
  
  .notification span {
    font-size: 20px;
    animation: bounce 0.6s ease-in-out;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
